# Required when building docker image
Flask
Flask-cors
ultralytics==8.0.28

# Required for the entire project
# dill==0.3.5.1
# notebook==7.0.0a7
# gdown
# Flask
# Flask-cors
# ultralytics==8.0.28
# -e .