.image-part img {
    /* position: absolute; */
    height: 300px;
    width: 300px;
    display: none;
    padding: 5px;
}

.image-part #video {
    /* display: block; */
    height: 300px;
    width: 300px;
    padding: 5px;
}

.upload-image {
    /* margin-left: 20px; */
    height: 400px;
    width: auto;;
    padding: 5px;
    margin: 0 auto;
    overflow: auto;
}

.resp-img {
    height: 400px;
    width: auto;
    margin: 0 auto;
}

#send {
    cursor: pointer;
    }

#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #363e75;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -4em;
    display: block;
    animation: spin 2s linear infinite;
}

.loader,
.loader:after {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sample-images-container {
    text-align: center;
    margin-bottom: 20px;
}

.sample-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid #007bff;
    border-radius: 10px;
    cursor: pointer;
}